# Default ignored files
/../../SAGSA-Lite./.idea/shelf/
/../../SAGSA-Lite./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SAGSA-Lite./.idea/httpRequests/
# Ignored default folder with query files
/../../SAGSA-Lite./.idea/queries/
# Datasource local storage ignored files
/../../SAGSA-Lite./.idea/dataSources/
/../../SAGSA-Lite./.idea/dataSources.local.xml
